<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="Melman_ros2control_gazebo" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <!-- Right Thigh Z axis rotation control -->
        <joint name="RTz">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Right Thigh X axis rotation control-->
        <joint name="RTx">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Right Thigh Y axis rotation control-->
        <joint name="RTy">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Right shank Y axis rotation control-->
        <joint name="RSy">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!--Right foot Y axis rotation control -->
        <joint name="RFy">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Right foot X axis rotation control-->
        <joint name="RFx">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Left thigh z axis rotation control-->
        <joint name="LTz">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!--Left thigh x axis rotation control -->
        <joint name="LTx">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Left thigh y axis rotation control-->
        <joint name="LTy">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Left shank y axis rotation control-->
        <joint name="LSy">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Left foot y axis rotation control-->
        <joint name="LFy">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!--Left foot x axis rotation control -->
        <joint name="LFx">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Right arm y axis rotation control -->
        <joint name="RAy">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Right arm x axis rotation control-->
        <joint name="RAx">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Roght forearm y axis rotation control-->
        <joint name="RFAy">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!--Left arm y axis rotation control -->
        <joint name="LAy">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Left arm x axis rotation control -->
        <joint name="LAx">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Left forearm y axis rotation control -->
        <joint name="LFAy">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
              <param name="initial_value">0.0</param>
            <state_interface name="velocity"/>
        </joint>
        <!-- Head z axis rotation control-->
        <joint name="Hz">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <!-- Head y axis rotation control-->
        <joint name="Hy">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find ros2_humanoid_virtual_twin)/controllers/controllers.yaml</parameters>
      </plugin>
    </gazebo>
</robot>