<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <!-- Definition of grey material-->
  <material name="grey">
      <color rgba="0.6 0.6 0.6 1"/>
  </material>
  <!-- BASE LINK spawns in x0 y0 z0-->
  <link name="base_link">
  </link>
  <xacro:include filename="RobotElements/Trunk.xacro"/>
  <xacro:include filename="RobotElements/left_leg.xacro"/>   
  <xacro:include filename="RobotElements/right_leg.xacro"/>
</robot>