<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="Melman">
    <!-- Below is a file which initiates geometry of robot and inertial, dynamic, collision parameters -->
    <xacro:include filename="robot_core.xacro" />
    <!-- Below is a file which contains parameters controlling movements of a robot -->    
</robot>