<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="Melman">
    <!-- Ponizej plik inicjujacy geometrie robota oraz parametry masowo bezwladnosciowe -->
    <xacro:include filename="robot_core.xacro" />
    <!-- Ponizej znajda sie parametry dotyczace kontroli ruchow Melmana -->    
</robot>