<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <!-- Definition of GAZEBO physics coefficients for LINKS -->
	<xacro:property name="kp_val" value="25000.0"/>
  <xacro:property name="kd_val" value="0.05"/>
  <xacro:property name="mu1_val" value="50"/>
  <xacro:property name="mu2_val" value="25"/>
  <xacro:property name="maxVel_val" value="0.1"/>
  <xacro:property name="dampigFactor_val" value="0.004"/>
  <xacro:property name="selfCollide_val" value="true"/>  
  <!-- Definition of GAZEBO physics coefficients for JOINTS -->
  <xacro:property name="Damper_val" value="true"/>
  <xacro:property name="springstiffness_val" value="6.0"/>
  <xacro:property name="springReference_val" value="0.01"/>
  <xacro:property name="stopErp_val" value="0.2"/>
  <xacro:property name="stopCfm_val" value="0.2"/> 
  <!-- Definition of URDF physics coefficients for JOINTS -->
  <xacro:property name="damping_val" value="1.0"/>
  <xacro:property name="friction_val" value="1.0"/>
  <xacro:property name="maxVel_val" value="5.1"/>
  <xacro:property name="maxeffort_val" value="5.1"/>
  <!-- Definition of grey material-->
  <material name="grey">
      <color rgba="0.6 0.6 0.6 1"/>
  </material>
  <!-- BASE LINK spawns in x0 y0 z0-->
  <link name="base_link">
  </link>
  <xacro:include filename="RobotElements/Trunk.xacro"/>
  <xacro:include filename="RobotElements/left_leg.xacro"/>   
  <xacro:include filename="RobotElements/right_leg.xacro"/>
  <xacro:include filename="RobotElements/left_arm.xacro"/>
  <xacro:include filename="RobotElements/right_arm.xacro"/>
  <xacro:include filename="RobotElements/head.xacro"/>
  <xacro:include filename="imu.xacro"/>
</robot>