<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="Melman">
    <!-- Below is a file which initiates geometry of robot and inertial, dynamic, collision parameters -->
    <xacro:include filename="$(find ros2_humanoid_virtual_twin)/description/robot_core.xacro" />
    <!-- If you want the Trunk to be immovable and static at a certain height uncomment lines below -->
    <!-- <link name="world"/>
    <joint name="world-base_link-fixed" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
    </joint> -->
    <!-- Below is a file which contains parameters controlling movements of a robot -->    
    <xacro:include filename="$(find ros2_humanoid_virtual_twin)/description/Melman_ros2control_gazebo.xacro" />
    <!-- Xacro arguments deciding whether to use parameters listed in robot_core.xacro or not -->
    <xacro:arg name="use_gazebo_link_physics_coefficients" default="true"/>
    <xacro:arg name="use_gazebo_joint_physics_coefficients" default="true"/>
    <xacro:arg name="use_URDF_joint_dynamics_coefficients" default="true"/>
    <!-- Xacro argument that defines whether to use simulation or to control the real robot -->
    <xacro:arg name="use_gazebo" default="true"/>      
</robot>