<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <!-- TRUNK -->
  <joint name="Trunk_joint" type="fixed">
      <parent link="base_link"/>
      <child link="Trunk"/>
      <!--Origin defines translation child frame relative to parent frame. Translation is performed in parent frame.-->
      <origin xyz="0 0 0.45" rpy="0 0 0"/>
  </joint>
  
  <link name="Trunk">
    <visual>
		  <!--Origin defines geometric center of spawned object relative to child frame-->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find ros2_humanoid_virtual_twin)/meshes/Trunk.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <inertial>
      <origin xyz="-25.163e-3	-1.006e-3	-39.233e-3" rpy="0 0 0"/>
      <mass value="1.569"/>
      <inertia ixx="3554.642e-6" iyy="3113.534e-6" izz="2635.241e-6" ixy="-52.803e-6" ixz="364.587e-6"  iyz="16.6e-6" />
    </inertial>    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find ros2_humanoid_virtual_twin)/meshes/Trunk_Collision.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="Trunk">
        <material>Gazebo/Grey</material>
        <xacro:if value="$(arg use_gazebo_link_physics_coefficients)">
          <mu1 value="${mu1_val}"/>
          <mu2 value="${mu2_val}"/>
          <kp value="${kp_val}" />
          <kd value="${kd_val}" />
          <maxVel value="${maxVel_val}"/>
          <dampingFactor value="${dampigFactor_val}"/>
          <selfCollide>${selfCollide_val}</selfCollide>  
        </xacro:if> 
  </gazebo>
</robot>
